/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  /* CSS Reset above */

  * {
    font-family:'Courier New', Courier, monospace
  }

  body {
    background-color: rgb(231, 231, 231);
  }

  div > div {
    padding-top: 10px;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    line-height: 30px;
  }

  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 1fr;
  }

  .header {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px 3px;
    grid-column: 2 / 3;
  }


  .sidebar {
    color:white;
    background-color: rgb(61, 166, 236);
    grid-row: 1 / -1;

    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    justify-content: center;
  }


