/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  /* CSS Reset above */

  @font-face {
    font-family: "momcake";
    src: 
        url(fonts/MomcakeThin-9Y6aZ.woff2) format("woff2"),
        url(fonts/MomcakeThin-WyonA.woff) format("woff");
        font-weight: normal;
        font-style: normal;
    }

  :root {
    font-family: 'momcake', 'Courier New', Courier, monospace;
    --accent-color: rgb(18, 103, 160);
    --main-color: rgb(207, 221, 230);
    --white: white;
    --shadow: rgba(0, 0, 0, 0.336) 0px 2px 5px;
    font-size: 20px;
  }

 

  body {
    background-color: var(--main-color);
  }
  /* Add padding to top of elements */

  .header,
  .sidebar,
  .main-content,
  .nav-actions,
  .your-projects,
  .announcements,
  .trending {
    padding-top: 15px;
  }

  h4 {
    padding-bottom: 5px;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    line-height: 30px;
  }

  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 110px 1fr;
  }

/*-------------HEADER----------------*/

  .header {
    background-color: white;
    box-shadow: var(--shadow);
    grid-column: 2 / 3;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .nav-top {
    display: grid;
    grid-template-columns: 25px 1fr 50px 50px 120px;
    grid-template-rows: 25px;
  }

  .notification-icon {
    width: 1.5rem;
    justify-self: right;
  }
  .notification-icon:hover,
  .user-profile-pic-top-right:hover {
    cursor: pointer;
    filter: invert(40%);
  }

  .user-name-top-right {
    font-size: 0.8rem;
    font-weight: bold;
    justify-self: right;
  }

  img.user-profile-pic-top-right {
    width: 1.5rem;
    justify-self: right;
  }

  /*--------------HEADER BOTTOM-------*/
  .nav-actions {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .user-greeting {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 3fr;
    min-width: 280px;
  }

  .profile-pic-lg {
    grid-row: 1 / -1;
  }

  .hello   {
    font-size: 0.7rem;
  }

  .user-name-hello {
    font-weight: bold;
  }

  .nav-actions-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    align-items:flex-start;
    font-size: 0.75rem;
  }

  .nav-actions-buttons button {
    border-radius: 35px;
    background-color: var(--accent-color);
    color: white;
    border-color: transparent;
    align-content: center;
  }
  .nav-actions-buttons button:hover {
    cursor: pointer;
    font-weight: bold;
  }

  input[type="search"] {
    border-radius: 30px;
    background-color: var(--main-color);
    border-color: transparent;
    width: 80%;
  }

/*-------SIDE BAR------------------*/

  .sidebar {
    color:white;
    background-color: var(--accent-color);
    grid-row: 1 / -1;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    grid-gap: 20px;
  }

  .sidebar-top, 
  .sidebar-main-menu,
  .sidebar-settings-menu {
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-auto-rows: 40px;
    column-gap: 10px;
    align-items: center;
  }

  .dashboard-icon {
    width: 15px;
    filter: invert(100%);
    justify-self: right;
  }


  .view-dash {
    width: 25px; 
  }

  .sidebar p:hover {
    font-weight: bold;
  }

/*--------------------MAIN CONTENT-----------------*/

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: auto;
}

.main-content > div {
    padding-left: 15px;
    padding-right: 15px;
}

/*----------YOUR PROJECTS--------------------*/

.your-projects {
    grid-row: 1 / -1;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
}
.project {
    background-color: var(--white);
    border-radius: 8px;
    border-left: rgb(255, 187, 2) solid 8px;
    height: 160px;
    padding: 25px 15px;
    min-width: 250px;
    box-shadow: var(--shadow);
    display: grid;
    grid-template-rows: 25px 75px 20px;
}

.project-buttons {
    display: grid;
    grid-template-columns: repeat(3, 20px);
    grid-gap: 10px;
    justify-self: right;
}

.project-button {
    filter: invert(50%);
}

.project-button:hover {
    filter: none;
    cursor: pointer;
}

.project p {
    font-size: .7rem;
}

/*----------ANNOUNCEMENTS--------------------*/

.announcements-card {
    background-color: white;
    border-radius: 8px;
    padding: 15px 25px;
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
    box-shadow: var(--shadow);
}

.announcement {
    padding: 10px;
}

hr {
    border: var(--main-color) solid 1px;
}

.announcements p {
    font-size: .5rem;
}

/*----------TRENDING--------------------*/

.trending-card {
    background-color: white;
    border-radius: 8px;
    padding: 15px 25px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    box-shadow: var(--shadow);
    min-width: 230px;
}

.trending-user {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
}

.trending-user-profile-pic {
    grid-row: span 2;
}

img.trending-user-profile-pic {
    width: 30px;
}

.trending-username {
    font-weight: bold;
}

.trending p {
    font-size: .7rem;
}